.header {
  background-image: linear-gradient(#ac999948, #9a9b9b00);
  display: flex;
  font-family: var(--font-secondary);
  font-size: 1.2rem;
  height: 100px;
  justify-content: space-between;
  padding: 0 20px;
}

img {
  height: 100px;
}

.branding {
  align-items: center;
  color: slategray;
  display: flex;
}

.nav {
  align-items: flex-start;
  display: flex;
  padding: 20px;
}

.nav a+a {
  margin-left: 20px;
}

a {
  color: slategray;
  text-decoration: none;
}